[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphrl = {editable = true, path = "."}
coverage = "*"
coveralls = "*"
pytest = ">=3.8"

[dev-packages]

[requires]
python_version = "3.6"
